.jumbotron {
    background-image: url(bg1.jpg);
    color: white;
    text-align: center;
}

#email{
  width: 300px;
}

#AppSum{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


#icon{
  width: 100px;
  margin-left: 100%;

}

#footer{
  text-align: center;
  background-color: black;
  padding-top: 70px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.row{
  text-align: center;
}

body{
  position: relative;
}
